#box_container {
  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
