body {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.knob {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
}
